## Fake News Prediction using Natural Language Processing

In [63]:
## importing necessary packages

import pandas as pd
import numpy as np
import spacy
import re

In [64]:
df = pd.read_csv('../Data/train.csv')
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [65]:
df.shape

(20800, 5)

In [66]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [67]:
df = df.dropna().reset_index()

In [68]:
df.shape

(18285, 6)

In [69]:
df = df.drop(['id'], axis=1)
df.head()

,index,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [70]:
### removing special characters
##def removeSpecialChars(mystring):
##    mystring = mystring.lower()
##    return re.sub('[^A-Za-z0-9 ]+', '', str(mystring))

In [71]:
## storing processed text output in new column
##df['procecssed_text'] = df['text'].apply(lambda x: removeSpecialChars(x))
##df['procecssed_text'].head()

In [75]:
## removing stopwords and lemmatization using spacy
#!python -m spacy download en
#!python -m spacy download en_core_web_sm
import en_core_web_sm
nlp = en_core_web_sm.load()
word_corpus = []

In [76]:
def lemmatizeAndStopwordsRem(string):
    string = string.lower()
    string = re.sub('[^A-Za-z0-9 ]+', '', str(string))
    string = nlp(string)
    processed = []
    for word in string:
        word = word.lemma_
        if str(word) not in nlp.Defaults.stop_words:
            processed.append(word)
    processed = " ".join(processed)
    return processed

In [ ]:
df['processed'] = df['text'].apply(lambda x: lemmatizeAndStopwordsRem(x))
df['processed']

In [ ]:
from sklearn.feature_extraction import CountVectorizer
cv = CountVectorizer(max_features=7000, ngram_range= (1,3))

In [ ]:
x = cv.fit_transform(word_corpus).toarray() 
y = df['label']